.page-header{
    text-align: center;
    margin: .4vw 0;
    background: #226639;
    float: center;
    border-radius: 8px;
}



.tic-box{
    margin: 4px;
    padding: 4px;
    text-align: center;
    float: center;
}